<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

  <a href="{{base_url}}/table">Готово!</a>
<div></div>
{% for user in users %}
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h5 class="card-title">{{user.fio}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{user.job_title}}</h6>
        <p class="card-text">Celery: {{user.celery}}</p>
        <p class="card-text">Invite date: {{user.invite_date}}</p>
        <a href="{{base_url}}/update_user_form/{{user.id}}" class="card-link">Редактировать</a>
        <a href="{{base_url}}/create_user?boss_id={{user.id}}" class="card-link">Добавить подчиненного</a>
      </div>
    </div>
{% endfor %}

</body>
</html>